page-play {

    .play{
        height: 100%;
        width: 100%;
        background-color: #EE6E7C;
        color: white;
    }

    .back{
        font-size: 200%;
        color: white;
    }
    
    .equation-variables{
        position: fixed;
        bottom: 50px;
        align-content: center;
        right: 3%;
        font-size: 50px;
    }
    #start-time{
        align-content: center;
        text-align: center;
        font-size: 70px;
    }

    .listen-button{
        font-size: 100%;
        width: 105%;
        height: 80%;
        display: inline-block;
        margin-left: auto;
        margin-right: auto;
        background-color: #FFFEFF;
        color: #EE6E7C;
        align-content: center;
        bottom: 20%;
    }

}
