<ion-content padding class="play">
  <i (click)="back()" class="back animated fadeInDown fa fa-arrow-left"></i>

  <h4 ion-text id="start-time" *ngIf="startDisplay == true">
    {{clockDisplay}}
  </h4>

  {{matches}}
  {{newEquation.answer}}


  <ion-grid class="equation-variables" *ngIf="startDisplay == false">

      <ion-row center padding>
        <ion-col center padding>
            <button class = "listen-button" id = "listen-button" (click)="startListening()" ion-button>Speak</button>
        </ion-col>
      </ion-row>
    <ion-row>
      <ion-col *ngFor="let item of newEquation.equationVariables; let i = index">
        {{item}}
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>