page-hard {
    .hard{
        background-color: #695877;
        height: 100%;
        width: 100%;
        color: white;
    }

    .back{
        font-size: 200%;
        color: white;
    }

    .game-over{
        font-size: 50px;
        text-align: center;
    }
    #sad-icon{
        font-size: 150px;
    }
    
    .equation-variables{
        position: fixed;
        bottom: 30px;
        align-content: center;
        right: 3%;
        font-size: 40px;
    }

    .correct{
        text-align: center;
        font-size: 40px;
        padding-top: 5px;
    }
    #start-time{
        align-content: center;
        text-align: center;
        font-size: 70px;
    }

    #var{
        text-align: center;
        font-size: 50px;
    }

    #retry {
        border-radius: 50%;
        padding-bottom: 20px;
        text-align: center;
        background-color: #FFFEFF;
        color: #BA6980;
        font-size: 25px;
        display: inline-block;
        height: 100px;
        width: 100px;
        margin: 0 auto;
        padding: 0;
        box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);

    }


    .listen-button{
        font-size: 100%;
        width: 105%;
        height: 80%;
        display: inline-block;
        margin-left: auto;
        margin-right: auto;
        background-color: #FFFEFF;
        color: #BA6980;
        align-content: center;
        bottom: 20%;
    }

    #footer{
        padding-bottom: 10px;
        font-size: 20px;
        text-align: center;
    }

}
