page-home {

    .home-page{
        background-color: #8B4F7E;
        height: 100% !important;
        width: 100% !important;
        margin-bottom: 0;           
    }

    .starting{
        height: 80%;
        width: 100%;
        align-content: center;
        display: block;
        margin:auto;
        margin-bottom: -20%;
    }

    .hey{
        font-size: 200%;
        background-color: rgb(172, 97, 156);
    }
    #countdown-logo{
        height: 80%;
        width: 100%;
        padding-top: 10%;
        background-color: #8B4F7E;
    }

    .scroll-bar-indicator
    {
        display: none;
    }

}
