page-home {

    .home-page{
        background-color: #EE6E7C;
        height: 100% !important;
        width: 100% !important;
        margin-bottom: 0;           
    }

    .starting{
        height: 80%;
        width: 100%;
        align-content: center;
        display: block;
        margin:auto;
        margin-bottom: -20%;
    }
    .start-buttons{
        font-size: 200%;
        width: 100%;
        height: 150%;
        background-color: #FFFEFF;
        color: #EE6E7C;
        align-content: center;
    }
    #countdown-logo{
        height: 80%;
        width: 100%;
        padding-top: 10%;
        background-color: #EE6E7C;
    }

    .scroll-bar-indicator
    {
        display: none;
    }

}
