<ion-content padding class="play">
  <i (click)="back()" class="back animated fadeInDown fa fa-arrow-left"></i>

  <h4 ion-text id="start-time" *ngIf="startDisplay == true">
    {{clockDisplay}}
  </h4>

  <div class="correct" *ngIf="correct == true">
    Correct
    <br>
    <ion-icon ios="ios-checkmark-circle-outline" md="md-checkmark-circle-outline"></ion-icon>
  </div>

  <div *ngIf="running == true">
    <ion-grid class="equation-variables" *ngIf="startDisplay == false">

      <ion-row *ngIf="newEquation.equationSign == '1'">
        <ion-col id="var">
          <i class="fa fa-plus-circle" aria-hidden="true"></i>
        </ion-col>
      </ion-row>

      <ion-row *ngIf="newEquation.equationSign == '2'">
        <ion-col id="var">
          <i class="fa fa-minus-circle" aria-hidden="true"></i>
        </ion-col>
      </ion-row>


      <ion-row center padding>
        <ion-col center id="var" *ngFor="let item of equationVars; let i = index">
          {{item}}
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col center padding>
          <button class="listen-button" id="listen-button" (click)="startListening()" ion-button>Speak</button>
        </ion-col>
      </ion-row>

      <ion-row id="footer">
        <ion-col>
          Lives: {{lives}}
        </ion-col>

        <ion-col>
          Timer: {{countdownDisplay}}
        </ion-col>
      </ion-row>


    </ion-grid>

  </div>

  <div class="game-over" *ngIf="running == false">
    Game Over!
    <br>
    <br>
    <ion-icon id="sad-icon" ios="ios-sad" md="md-sad"></ion-icon>
    <br>
    <br> Your Score: {{newEquation.score}}

    <br>
    <br>

    <button id="retry" ion-button (click)="retry()">Retry</button>


  </div>



</ion-content>